.filmInfo__details{
    margin: var(--margin-big) 0;
    padding: 5px 0;
    background: #edf6f9;
    background: linear-gradient(90deg,#edf6f9 0%, #ffddd2 80%);
    padding: 5px;
    border-radius: 5px;
    width: 600px;
    height: 400px;
}

.filmInfo__details__title{
    font-size: var(--font-size-medium);
    margin-bottom: var(--margin-big);
}

.filmInfo__details__list li{
    padding: 8px 0;
}