.errorBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.error__title{
    font-size: var(--font-size-large);
    margin-bottom: var(--margin-middle);
}

.error_text{
    font-size: var(--font-size-medium);
    text-align: center;
}